.hero {
  text-align: center;
  padding: 50px;
  background-color: var(--background-color);
  color: var(--accent-color);
}

.hero h1 {
  font-size: 3rem;
  color: var(--primary-color);
}

.hero p {
  font-size: 1.2rem;
  color: var(--secondary-color);
}

.hero button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
}

:root {
  --background-color: #ffffff;
  --primary-color: #d8dee5;
  --secondary-color: #66fcf1;
  --accent-color: #c5c6c7;
  --text-color: #ffffff;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background: linear-gradient(-45deg, #1f2833, #0b0c10, #66fcf1, #c5c6c7);
  background-size: 400% 400%;
  animation: gradientAnimation 15s ease infinite;
  color: white;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}